{
   "discord":"",
   "id":"2BZCXepjSBDgn6MmcvmufDT4jyCCLShBaTuzZqtyrTgV",
   "nickname":"test",
   "points":826.8256226851852,
   "snapshot":"1686842253003",
   "pfp":"https://arweave.net/3B3lNpP7YNWWdN6_s4ub2TdgonrNce4v4YKKg44Gau0?ext=png",
   "staked":{
      "imageUrl":"https://datamancer.io/thesmophoria/img/2190.jpeg",
      "name":"Ruby Goddess 2190",
      "points":30,
      "snapshot":"1686842253003",
      "tokenAddress":"2gtw52ka5RAc4nQNWJ4HpC8qU2GYPaSxkej5dSvrNBuZ"
   },
   {
      "imageUrl":"https://arweave.net/3B3lNpP7YNWWdN6_s4ub2TdgonrNce4v4YKKg44Gau0?ext=png",
      "name":"Goddess #2970",
      "points":10,
      "snapshot":"1686842253003",
      "tokenAddress":"Bp7B2PZSBb6TuQmo5FGSJedHCtYyjSVKngwNstSugcM7"
   },
   {
      "imageUrl":"https://arweave.net/SzYff_FPbGIY25OEpLmhSMKKd8UUZLQXqTcc3thpJ9w?ext=png",
      "name":"Goddess #2436",
      "points":10,
      "snapshot":"1686842253003",
      "tokenAddress":"EdmtY8rXSiY3ZCsTCcJJhpVMzcoyjJC8YbQi6t2t29Yp",
      "twitter":""
   }
}